{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleRegister.css') }}">
{% endblock %}

{% block body %}
    <h1>Register</h1>
    <div class="formRegister">
        {{ form_start(registrationForm) }}
           {{ form_widget(registrationForm) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
