{% extends 'base.html.twig' %}

{% block title %}Annuler Sortie{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>Annulation de sortie</h1>
    <div class="flex" style="justify-content: space-around;">
        <div>
            <h2>{{ nom_sortie }} du {{ date_sortie }} à {{ lieu }} - {{ ville }}</h2>
        </div>
        <div>
            <h2 style="font-style: italic;">Etat : {{ etat }}</h2>
        </div>
    </div>
    <div class="form_creer_sortie">
        {{ form_start(sortieForm) }}

        {% if(not validation) %}
            <div class="erreur">
                <p>Vous devez renseigner le motif de l'annulation.</p>
            </div>
        {% endif %}

        <div class="texte">
            <h3>Motif de l'annulation de la sortie :</h3>
            <div>
                {{ form_widget(sortieForm.motifAnnulation, {'attr': {'name': 'motif', 'id': 'motif','rows': 10,'cols': 150}}) }}
            </div>
        </div>

        <div class="div_button">
            <a class="button" href="{{ path('gestion_sortie_creer',{'id': id}) }}">Abandonner</a>
            <button class="button" id="confirmer" name="confirmer" value="confirmer">Confirmer</button>
        </div>

        {{ form_end(sortieForm, {'attr': {'class': 'hidden'}}) }}


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/sortir.js') }}" defer></script>
{% endblock %}
